.changeValueButton {
  max-width: 20px !important;
  min-width: 20px !important;
  height: 20px;
}

.changeValueButtonDisabled {
  color: white !important;
  border-color: white !important;
  font-size: 12px !important;
  height: 20px;
}
