.dark {
  .entireContainer {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=");
    background-color: #303030;
  }

  .tableCellEven {
    background-color: white;
    border-bottom: none !important;
  }

  .tableCellOdd {
    background-color: #f6f6f6;
    border-bottom: none !important;
  }

  .title {
    color: white;
  }

  //table
  .tableCell {
    border-radius: 1px solid black;
  }
  .tableCellHeader {
    background-color: #64b5f6;
    color: white;
  }

  .settingsIcon {
    color: white;
  }

  //colorConverter
  html,
  body {
    background-color: #121212;
  }

  .root {
    background-color: #121212;
  }

  .colorCardsContainer {
    background-color: #1e1e1e;
  }

  .card {
    background-color: #2d2d2d;
    margin-top: 20px;
  }

  .text {
    color: #e1e1e1;
  }

  .codeContainer {
    background-color: #2d2d2d;
  }

  .slider {
    color: #c4876a;
  }

  .changeValueButton {
    color: #84c8fa !important;
    border-color: #84c8fa !important;
  }

  .changeValueButtonDisabled {
    color: #eeffee !important;
    border-color: #84c8fa !important;
  }

  .hexInput {
    color: aliceblue !important;
    background-color: #2d2d2d;
  }

  .cssCode {
    color: #e5e5e5;
  }

  .iconButton:hover {
    color: #fff !important;
    background-color: #424242 !important;
  }

  .copyIcon {
    color: #fff !important;
  }
}
