.light {
  .entireContainer {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=");
    background-color: rgba(0, 0, 0, 0.26);
  }

  .tableCellEven {
    background-color: white;
    border-bottom: none !important;
  }

  .tableCellOdd {
    background-color: #f6f6f6;
    border-bottom: none !important;
  }

  .title {
    color: rgba(0, 0, 0, 0.87);
  }

  //table
  .tableCell {
    border-radius: 1px solid black;
  }
  .tableCellHeader {
    background-color: #64b5f6;
    color: white;
  }

  .settingsIcon {
    color: black;
  }

  //colorConverter
  html,
  body {
    background-color: #fcfdfe;
  }

  .root {
    background-color: #fcfdfe;
  }

  .colorCardsContainer {
    background-color: #f4f7fb;
  }

  .card {
    background-color: #ffffff;
    margin-top: 20px;
  }

  .text {
    color: #31424f;
  }

  .codeContainer {
    background-color: #fff;
  }

  .slider {
    color: #1c83ee;
  }

  .changeValueButton {
    color: #e1685b !important;
    border-color: #e1685b !important;
  }

  .changeValueButtonDisabled {
    color: black !important;
    border-color: #e1685b !important;
  }

  .cssCode {
    color: black;
  }
  .iconButton:hover {
    color: #1c83ee !important;
    background-color: #f4f7fb !important;
  }

  .copyIcon {
    color: #1c83ee !important;
  }
}
