body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.unitContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entireContainer {
  height: 100%;
}

.tableCell {
  border-bottom: none !important;
}

.tableCellHeader {
  border-bottom: none !important;
}

.tableRow {
  border-bottom: none;
}

// .title {
//   text-align: center;
// }

.settingsIcon {
  font-size: 1.5rem;
  float: right;
}
